---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<mapquest_api_key>&location=Denver,CO
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Wed, 10 Mar 2021 04:01:18 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Denver,CO"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<mapquest_api_key>&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=830010968"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<mapquest_api_key>&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=317605345"}]}]}'
  recorded_at: Wed, 10 Mar 2021 04:01:19 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<openweather_api_key>&exclude=minutely,alerts&lat=39.738453&lon=-104.984853&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1615348879,"sunrise":1615296030,"sunset":1615338029,"temp":9.86,"feels_like":3.55,"pressure":1003,"humidity":28,"dew_point":-6.91,"uvi":0,"clouds":77,"visibility":10000,"wind_speed":4.9,"wind_deg":343,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}]},"hourly":[{"dt":1615348800,"temp":9.86,"feels_like":3.55,"pressure":1003,"humidity":28,"dew_point":-6.91,"uvi":0,"clouds":77,"visibility":10000,"wind_speed":4.9,"wind_deg":343,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0.11},{"dt":1615352400,"temp":9.32,"feels_like":3.82,"pressure":1004,"humidity":41,"dew_point":-2.88,"uvi":0,"clouds":76,"visibility":10000,"wind_speed":4.41,"wind_deg":4,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0.11},{"dt":1615356000,"temp":8.75,"feels_like":4.11,"pressure":1005,"humidity":50,"dew_point":-0.96,"uvi":0,"clouds":79,"visibility":10000,"wind_speed":3.57,"wind_deg":355,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0.19},{"dt":1615359600,"temp":8.03,"feels_like":4.68,"pressure":1005,"humidity":58,"dew_point":0.28,"uvi":0,"clouds":99,"visibility":10000,"wind_speed":2.01,"wind_deg":23,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0.38},{"dt":1615363200,"temp":6.94,"feels_like":4.15,"pressure":1005,"humidity":68,"dew_point":1.45,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":1.46,"wind_deg":2,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10n"}],"pop":0.59,"rain":{"1h":0.57}},{"dt":1615366800,"temp":6.38,"feels_like":3.84,"pressure":1005,"humidity":71,"dew_point":1.71,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":1.13,"wind_deg":23,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10n"}],"pop":0.71,"rain":{"1h":0.17}},{"dt":1615370400,"temp":5.49,"feels_like":1.82,"pressure":1005,"humidity":77,"dew_point":1.96,"uvi":0,"clouds":99,"visibility":8973,"wind_speed":2.8,"wind_deg":3,"weather":[{"id":500,"main":"Rain","descrip[...]
