---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=<unsplash_api_key>&per_page=1&query=GrandRapids,MI%20aerial%20snow%20flurries
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://api.unsplash.com/search/photos?client_id=<unsplash_api_key>&page=10000&per_page=1&query=GrandRapids%2CMI+aerial+snow+flurries>;
        rel="last", <https://api.unsplash.com/search/photos?client_id=<unsplash_api_key>&page=2&per_page=1&query=GrandRapids%2CMI+aerial+snow+flurries>;
        rel="next"
      X-Total:
      - '10000'
      X-Per-Page:
      - '1'
      Content-Type:
      - application/json
      Etag:
      - W/"4cc64b465e5e9647a58a0624ea36734e"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '47'
    body:
      encoding: ASCII-8BIT
      string: '{"total":10000,"total_pages":10000,"results":[{"id":"54TRXFqXZDk","created_at":"2019-10-31T20:11:34-04:00","updated_at":"2021-03-09T14:09:23-05:00","promoted_at":"2019-11-01T05:37:37-04:00","width":3008,"height":2000,"color":"#262640","blur_hash":"LHF?68-o~VRj8we.xCt7.8WCMxWC","description":null,"alt_description":"woman
        in black denim jeans","urls":{"raw":"https://images.unsplash.com/photo-1572567062309-247d330e3f7a?ixid=MnwyMTMzNjl8MHwxfHNlYXJjaHwxfHxHcmFuZFJhcGlkcyxNSSUyMGFlcmlhbCUyMHNub3clMjBmbHVycmllc3xlbnwwfHx8fDE2MTUzNDYwODM\u0026ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1572567062309-247d330e3f7a?crop=entropy\u0026cs=srgb\u0026fm=jpg\u0026ixid=MnwyMTMzNjl8MHwxfHNlYXJjaHwxfHxHcmFuZFJhcGlkcyxNSSUyMGFlcmlhbCUyMHNub3clMjBmbHVycmllc3xlbnwwfHx8fDE2MTUzNDYwODM\u0026ixlib=rb-1.2.1\u0026q=85","regular":"https://images.unsplash.com/photo-1572567062309-247d330e3f7a?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyMTMzNjl8MHwxfHNlYXJjaHwxfHxHcmFuZFJhcGlkcyxNSSUyMGFlcmlhbCUyMHNub3clMjBmbHVycmllc3xlbnwwfHx8fDE2MTUzNDYwODM\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1572567062309-247d330e3f7a?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyMTMzNjl8MHwxfHNlYXJjaHwxfHxHcmFuZFJhcGlkcyxNSSUyMGFlcmlhbCUyMHNub3clMjBmbHVycmllc3xlbnwwfHx8fDE2MTUzNDYwODM\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1572567062309-247d330e3f7a?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyMTMzNjl8MHwxfHNlYXJjaHwxfHxHcmFuZFJhcGlkcyxNSSUyMGFlcmlhbCUyMHNub3clMjBmbHVycmllc3xlbnwwfHx8fDE2MTUzNDYwODM\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=200"},"links":{"self":"https://api.unsplash.com/photos/54TRXFqXZDk","html":"https://unsplash.com/photos/54TRXFqXZDk","download":"https://unsplash.com/photos/54TRXFqXZDk/download","download_location":"https://api.unsplash.com/photos/54TRXFqXZDk/download?ixid=MnwyMTMzNjl8MHwxfHNlYXJjaHwxfHxHcmFuZFJhcGlkcyxNSSUyMGFlcmlhbCUyMHNub3clMjBmbHVycmllc3xlbnwwfHx8fDE2MTUzNDYwODM"},"categories":[],"likes":70,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"user":{"id":"QZmRfeBxc-M","updated_at":"2021-03-09T08:43:26-05:00","username":"megindoors","name":"Vic","first_name":"Vic","last_name":null,"twitter_username":"AnArmAndAMeg","portfolio_url":null,"bio":"/B\u0026W
        photos are in film/","location":"Chicago, Illinois","links":{"self":"https://api.unsplash.com/users/megindoors","html":"https://unsplash.com/@megindoors","photos":"https://api.unsplash.com/users/megindoors/photos","likes":"https://api.unsplash.com/users/megindoors/likes","portfolio":"https://api.unsplash.com/users/megindoors/portfolio","following":"https://api.unsplash.com/users/megindoors/following","followers":"https://api.unsplash.com/users/megindoors/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1610924943777-25c1fff65933image?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=32\u0026w=32","medium":"https://images.unsplash.com/profile-1610924943777-25c1fff65933image?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=64\u0026w=64","large":"https://images.unsplash.com/profile-1610924943777-25c1fff65933image?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=128\u0026w=128"},"instagram_username":"panoptical","total_collections":12,"total_likes":4694,"total_photos":447,"accepted_tos":true,"for_hire":true},"tags":[{"type":"search","title":"outdoors"},{"type":"landing_page","title":"snow","source":{"ancestry":{"type":{"slug":"wallpapers","pretty_slug":"HD
        Wallpapers"},"category":{"slug":"nature","pretty_slug":"Nature"},"subcategory":{"slug":"snow","pretty_slug":"Snow"}},"title":"HD
        Snow Wallpapers","subtitle":"Download Free Snow Wallpapers","description":"Choose
        from a curated selection of snow wallpapers for your mobile and desktop screens.
        Always free on Unsplash.","meta_title":"Snow Wallpapers: Free HD Download
        [500+ HQ] | Unsplash","meta_description":"Choose from hundreds of free snow
        wallpapers. Download HD wallpapers for free on Unsplash.","cover_photo":{"id":"USXfF_ONUGo","created_at":"2019-01-29T10:52:23-05:00","updated_at":"2021-03-08T01:05:48-05:00","promoted_at":"2019-01-30T10:01:59-05:00","width":3040,"height":4056,"color":"#f3f3f3","blur_hash":"LvOgWxM|axay0KRjayayM|ayayj[","description":"Cold
        white winter landscape from above with snowy trees gradient.","alt_description":"aerial
        photo of snow covered tree lot","urls":{"raw":"https://images.unsplash.com/photo-1548777123-e216912df7d8?ixlib=rb-1.2.1","full":"https://images.[...]
