---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=<unsplash_api_key>&per_page=1&query=GrandRapids,MI
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://api.unsplash.com/search/photos?client_id=<unsplash_api_key>&page=1568&per_page=1&query=GrandRapids%2CMI>;
        rel="last", <https://api.unsplash.com/search/photos?client_id=<unsplash_api_key>&page=2&per_page=1&query=GrandRapids%2CMI>;
        rel="next"
      X-Total:
      - '1568'
      X-Per-Page:
      - '1'
      Content-Type:
      - application/json
      Etag:
      - W/"515369dcfbbe5f339d26572aea8c38bb"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: '{"total":1568,"total_pages":1568,"results":[{"id":"AlJU4DuTBIQ","created_at":"2019-09-16T21:45:42-04:00","updated_at":"2021-03-08T16:09:38-05:00","promoted_at":"2019-09-18T02:33:12-04:00","width":3888,"height":5184,"color":"#595926","blur_hash":"LRFX@4,rE4OE}.VuI;k9-Toyt6$$","description":"Sunflower
        field in Autumn with Butterfly","alt_description":"close-up photography of
        butterfly perching on flower","urls":{"raw":"https://images.unsplash.com/photo-1568684736802-43b6e16f38cb?ixid=MnwyMTMzNjl8MHwxfHNlYXJjaHwxfHxHcmFuZFJhcGlkcyxNSXxlbnwwfHx8fDE2MTUyNTIxMjU\u0026ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1568684736802-43b6e16f38cb?crop=entropy\u0026cs=srgb\u0026fm=jpg\u0026ixid=MnwyMTMzNjl8MHwxfHNlYXJjaHwxfHxHcmFuZFJhcGlkcyxNSXxlbnwwfHx8fDE2MTUyNTIxMjU\u0026ixlib=rb-1.2.1\u0026q=85","regular":"https://images.unsplash.com/photo-1568684736802-43b6e16f38cb?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyMTMzNjl8MHwxfHNlYXJjaHwxfHxHcmFuZFJhcGlkcyxNSXxlbnwwfHx8fDE2MTUyNTIxMjU\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1568684736802-43b6e16f38cb?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyMTMzNjl8MHwxfHNlYXJjaHwxfHxHcmFuZFJhcGlkcyxNSXxlbnwwfHx8fDE2MTUyNTIxMjU\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1568684736802-43b6e16f38cb?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyMTMzNjl8MHwxfHNlYXJjaHwxfHxHcmFuZFJhcGlkcyxNSXxlbnwwfHx8fDE2MTUyNTIxMjU\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=200"},"links":{"self":"https://api.unsplash.com/photos/AlJU4DuTBIQ","html":"https://unsplash.com/photos/AlJU4DuTBIQ","download":"https://unsplash.com/photos/AlJU4DuTBIQ/download","download_location":"https://api.unsplash.com/photos/AlJU4DuTBIQ/download?ixid=MnwyMTMzNjl8MHwxfHNlYXJjaHwxfHxHcmFuZFJhcGlkcyxNSXxlbnwwfHx8fDE2MTUyNTIxMjU"},"categories":[],"likes":97,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"user":{"id":"o25aSDn-4q0","updated_at":"2021-03-08T20:07:49-05:00","username":"aaronburden","name":"Aaron
        Burden","first_name":"Aaron","last_name":"Burden","twitter_username":"theaaronburden","portfolio_url":null,"bio":null,"location":null,"links":{"self":"https://api.unsplash.com/users/aaronburden","html":"https://unsplash.com/@aaronburden","photos":"https://api.unsplash.com/users/aaronburden/photos","likes":"https://api.unsplash.com/users/aaronburden/likes","portfolio":"https://api.unsplash.com/users/aaronburden/portfolio","following":"https://api.unsplash.com/users/aaronburden/following","followers":"https://api.unsplash.com/users/aaronburden/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1578021854441-1f6abbca2a1dimage?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=32\u0026w=32","medium":"https://images.unsplash.com/profile-1578021854441-1f6abbca2a1dimage?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=64\u0026w=64","large":"https://images.unsplash.com/profile-1578021854441-1f6abbca2a1dimage?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=128\u0026w=128"},"instagram_username":null,"total_collections":68,"total_likes":2912,"total_photos":948,"accepted_tos":true,"for_hire":false},"tags":[]}]}'
  recorded_at: Tue, 09 Mar 2021 01:17:23 GMT
recorded_with: VCR 6.0.0
