---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<openweather_api_key>&exclude=minutely,alerts&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1615143268,"sunrise":1615123418,"sunset":1615165104,"temp":64.72,"feels_like":57.76,"pressure":1015,"humidity":11,"dew_point":11.52,"uvi":4.53,"clouds":100,"visibility":10000,"wind_speed":1.99,"wind_deg":132,"wind_gust":8.99,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"hourly":[{"dt":1615140000,"temp":64.72,"feels_like":55.85,"pressure":1015,"humidity":11,"dew_point":11.52,"uvi":3.84,"clouds":100,"visibility":10000,"wind_speed":5.39,"wind_deg":160,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1615143600,"temp":63.21,"feels_like":54.61,"pressure":1016,"humidity":20,"dew_point":22.69,"uvi":4.53,"clouds":100,"visibility":10000,"wind_speed":6.67,"wind_deg":160,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1615147200,"temp":63.93,"feels_like":55.69,"pressure":1016,"humidity":23,"dew_point":26.2,"uvi":4.13,"clouds":100,"visibility":10000,"wind_speed":6.78,"wind_deg":173,"weather":[{"id":804,"main":"Clouds","description":[...]
