---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<mapquest_api_key>&location=Denver,CO
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Wed, 10 Mar 2021 03:06:19 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Denver,CO"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<mapquest_api_key>&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-660769337"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<mapquest_api_key>&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=983907386"}]}]}'
  recorded_at: Wed, 10 Mar 2021 03:06:19 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<openweather_api_key>&exclude=minutely,alerts&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1615345580,"sunrise":1615296030,"sunset":1615338029,"temp":52.45,"feels_like":37.17,"pressure":1003,"humidity":25,"dew_point":19.27,"uvi":0,"clouds":98,"visibility":10000,"wind_speed":17.87,"wind_deg":359,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}]},"hourly":[{"dt":1615345200,"temp":52.45,"feels_like":37.17,"pressure":1003,"humidity":25,"dew_point":19.27,"uvi":0,"clouds":98,"visibility":10000,"wind_speed":17.87,"wind_deg":359,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0.11},{"dt":1615348800,"temp":51.06,"feels_like":40.5,"pressure":1004,"humidity":37,"dew_point":26.46,"uvi":0,"clouds":88,"visibility":10000,"wind_speed":10.96,"wind_deg":343,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0.11},{"dt":1615352400,"temp":48.78,"feels_like":39.29,"pressure":1005,"humidity":47,"dew_point":29.77,"uvi":0,"clouds":80,"visibility":10000,"wind_speed":9.86,"wind_deg":4,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0.11},{"dt":1615356000,"temp":47.53,"feels_like":39.42,"pressure":1005,"humidity":54,"dew_point":31.77,"uvi":0,"clouds":80,"visibility":10000,"wind_speed":7.99,"wind_deg":355,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0.19},{"dt":1615359600,"temp":46.29,"feels_like":40.37,"pressure":1005,"humidity":60,"dew_point":33.19,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":4.5,"wind_deg":23,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0.38},{"dt":1615363200,"temp":44.46,"feels_like":39.43,"pressure":1005,"humidity":68,"dew_point":34.74,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":3.27,"wind_deg":2,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10n"}],"pop":0.59,"rain":{"1h":0.57}},{"dt":1615366800,"temp":43.48,"feels_like":38.91,"pressure":1005,"humidity":71,"dew_point":35.08,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":2.53,"wind_deg":23,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10n"}],"pop":0.71,"rain":{"1h":0.17}},{"dt":1615370400,"temp":41.88,"feels_like":35.28,"pressure":1005,"humidity":77,"dew_point":35.53,"uvi":0,"clouds":99,"visibility":8973,"wind_speed":6.26,"wind_deg":3,"weather":[{"id":500,"main":"Rain","[...]
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=<unsplash_api_key>&per_page=1&query=Denver,CO%20aerial%20overcast%20clouds
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://api.unsplash.com/search/photos?client_id=<unsplash_api_key>&page=10000&per_page=1&query=Denver%2CCO+aerial+overcast+clouds>;
        rel="last", <https://api.unsplash.com/search/photos?client_id=<unsplash_api_key>&page=2&per_page=1&query=Denver%2CCO+aerial+overcast+clouds>;
        rel="next"
      X-Total:
      - '10000'
      X-Per-Page:
      - '1'
      Content-Type:
      - application/json
      Etag:
      - W/"4b48c4be54de43540f5d731f14e5e445"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: '{"total":10000,"total_pages":10000,"results":[{"id":"ckTwAbBiswc","created_at":"2020-11-28T22:33:53-05:00","updated_at":"2021-03-09T06:17:39-05:00","promoted_at":null,"width":13284,"height":3430,"color":"#c0d9f3","blur_hash":"LrGcS~n$WCbIyGoeofogX9RjoMWA","description":"Aerial
        panoramic view of West High School","alt_description":"brown concrete building
        under white clouds during daytime","urls":{"raw":"https://images.unsplash.com/photo-1606619854196-d123ca4cd096?ixid=MnwyMTMzNjl8MHwxfHNlYXJjaHwxfHxEZW52ZXIsQ08lMjBhZXJpYWwlMjBvdmVyY2FzdCUyMGNsb3Vkc3xlbnwwfHx8fDE2MTUzNDU1ODA\u0026ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1606619854196-d123ca4cd096?crop=entropy\u0026cs=srgb\u0026fm=jpg\u0026ixid=MnwyMTMzNjl8MHwxfHNlYXJjaHwxfHxEZW52ZXIsQ08lMjBhZXJpYWwlMjBvdmVyY2FzdCUyMGNsb3Vkc3xlbnwwfHx8fDE2MTUzNDU1ODA\u0026ixlib=rb-1.2.1\u0026q=85","regular":"https://images.unsplash.com/photo-1606619854196-d123ca4cd096?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyMTMzNjl8MHwxfHNlYXJjaHwxfHxEZW52ZXIsQ08lMjBhZXJpYWwlMjBvdmVyY2FzdCUyMGNsb3Vkc3xlbnwwfHx8fDE2MTUzNDU1ODA\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1606619854196-d123ca4cd096?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyMTMzNjl8MHwxfHNlYXJjaHwxfHxEZW52ZXIsQ08lMjBhZXJpYWwlMjBvdmVyY2FzdCUyMGNsb3Vkc3xlbnwwfHx8fDE2MTUzNDU1ODA\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1606619854196-d123ca4cd096?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyMTMzNjl8MHwxfHNlYXJjaHwxfHxEZW52ZXIsQ08lMjBhZXJpYWwlMjBvdmVyY2FzdCUyMGNsb3Vkc3xlbnwwfHx8fDE2MTUzNDU1ODA\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=200"},"links":{"self":"https://api.unsplash.com/photos/ckTwAbBiswc","html":"https://unsplash.com/photos/ckTwAbBiswc","download":"https://unsplash.com/photos/ckTwAbBiswc/download","download_location":"https://api.unsplash.com/photos/ckTwAbBiswc/download?ixid=MnwyMTMzNjl8MHwxfHNlYXJjaHwxfHxEZW52ZXIsQ08lMjBhZXJpYWwlMjBvdmVyY2FzdCUyMGNsb3Vkc3xlbnwwfHx8fDE2MTUzNDU1ODA"},"categories":[],"likes":1,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"user":{"id":"iReUjmhpLcw","updated_at":"2021-03-09T15:33:31-05:00","username":"andrewcoop","name":"Andrew
        Coop","first_name":"Andrew","last_name":"Coop","twitter_username":null,"portfolio_url":null,"bio":null,"location":"Aurora,
        CO, USA","links":{"self":"https://api.unsplash.com/users/andrewcoop","html":"https://unsplash.com/@andrewcoop","photos":"https://api.unsplash.com/users/andrewcoop/photos","likes":"https://api.unsplash.com/users/andrewcoop/likes","portfolio":"https://api.unsplash.com/users/andrewcoop/portfolio","following":"https://api.unsplash.com/users/andrewcoop/following","followers":"https://api.unsplash.com/users/andrewcoop/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1586541878358-3a9831bf2a38image?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=32\u0026w=32","medium":"https://images.unsplash.com/profile-1586541878358-3a9831bf2a38image?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=64\u0026w=64","large":"https://images.unsplash.com/profile-1586541878358-3a9831bf2a38image?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=128\u0026w=128"},"instagram_username":null,"total_collections":0,"total_likes":28,"total_photos":130,"accepted_tos":true,"for_hire":true},"tags":[{"type":"search","title":"building"},{"type":"search","title":"denver"},{"type":"search","title":"co"}]}]}'
  recorded_at: Wed, 10 Mar 2021 03:06:20 GMT
recorded_with: VCR 6.0.0
