---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<openweather_api_key>&exclude=minutely,alerts&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1615225245,"sunrise":1615209724,"sunset":1615251567,"temp":51.49,"feels_like":45.7,"pressure":1027,"humidity":34,"dew_point":25,"uvi":3.26,"clouds":100,"visibility":10000,"wind_speed":2.15,"wind_deg":177,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"hourly":[{"dt":1615222800,"temp":51.49,"feels_like":45.7,"pressure":1027,"humidity":34,"dew_point":25,"uvi":2.44,"clouds":100,"visibility":10000,"wind_speed":2.15,"wind_deg":177,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1615226400,"temp":52.81,"feels_like":46.72,"pressure":1021,"humidity":36,"dew_point":27.25,"uvi":3.26,"clouds":100,"visibility":10000,"wind_speed":3.18,"wind_deg":169,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1615230000,"temp":55.51,"feels_like":49.32,"pressure":1017,"humidity":35,"dew_point":28.76,"uvi":4.29,"clouds":100,"visibility":10000,"wind_speed":3.76,"wind_deg":121,"weather":[{"id":804,"main":"Clouds","description"[...]
