---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?limit=1&location=Hollywood,FL&open_now=true&term=ceviche
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <yelp_api_key>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Zipkin-Id:
      - 77638e49b08be03e
      Ratelimit-Remaining:
      - '4994'
      Ratelimit-Dailylimit:
      - '5000'
      Ratelimit-Resettime:
      - '2021-03-09T00:00:00+00:00'
      X-Routing-Service:
      - routing-main--uswest2-8665dfcd87-zrzvv; site=public_api_v3
      X-Proxied:
      - 10-69-127-167-uswest2aprod
      X-Extlb:
      - 10-69-127-167-uswest2aprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "jwalZ-ZJDzwv2ukp29DHMg", "alias": "pachamanka-authentic-peruvian-cuisine-hollywood-3",
        "name": "Pachamanka Authentic Peruvian Cuisine", "image_url": "https://s3-media3.fl.yelpcdn.com/bphoto/WrQF2IoZUVzPYetwbpV7xA/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/pachamanka-authentic-peruvian-cuisine-hollywood-3?adjust_creative=exsKdI4IsMWYS3_DdjaKlg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=exsKdI4IsMWYS3_DdjaKlg",
        "review_count": 503, "categories": [{"alias": "peruvian", "title": "Peruvian"},
        {"alias": "seafood", "title": "Seafood"}], "rating": 4.5, "coordinates": {"latitude":
        26.01972, "longitude": -80.1159}, "transactions": ["pickup", "delivery"],
        "price": "$$", "location": {"address1": "321 Johnson St", "address2": "",
        "address3": "", "city": "Hollywood", "zip_code": "33019", "country": "US",
        "state": "FL", "display_address": ["321 Johnson St", "Hollywood, FL 33019"]},
        "phone": "+19549261020", "display_phone": "(954) 926-1020", "distance": 6766.11772060313}],
        "total": 349, "region": {"center": {"longitude": -80.1837158203125, "latitude":
        26.019729291096752}}}'
  recorded_at: Mon, 08 Mar 2021 18:06:07 GMT
recorded_with: VCR 6.0.0
